body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-login {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.form-login-box h2 {
  font-size: 28px;
}

.invalid-feedback {
  display: block;
}
